*{padding: 0;
    margin: 0;
    font-family: sans-serif;
}
body {
    background: white;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
body::after{
    content: '';
    width: 100%;
    height: 100%;
    background: black;
    position: absolute;
    z-index: -1;
    clip-path: circle(40% at right 60%);
}
header{
    text-align: center;
    padding: 15px;
    position: absolute;
    top: 0;
    width: 100%;
    box-sizing: border-box;
}
.container{
    width: 80%;
    height: 80%;
    background: rgb(52, 150, 230,0.7);
    border-radius: 30px;
    overflow: hidden;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: auto;
    padding: 20px 0;
}
nav .logo{
    color: black;
    text-decoration: none;
    font-size: 32px;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: 700;

}
nav ul li{
    display: inline-block;
    margin: 0 6px;
}
nav ul li a{
    color: black;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
}
nav ul li a:hover{
    color: rgb(78, 21, 116);
}
.content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width:80% ;
    margin: auto;
}
.content .text{
    color: black;
    width: 40%;
}
.content .text h2{
    font-size: 40px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 2px;
}
.content .image{
    width: 40%;
}
.content .image img{
width: 400px;
}
footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: rgb(144, 183, 237);
    text-align: center;
    padding: 15px 0;
    box-sizing: border-box;
    font-size: 20px;
}
@media (min-width : 950px) and (max-width :1150px){
    .content .image img{
        width: 320px;
    }
}
@media (max-width:950px){
    .content, nav{
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .content .image, .content .text{
        width: 100%;
        text-align: center;
    }
    body::after{
        clip-path: circle(50% at bottom);
    }
}